#!/usr/bin/env nextflow

nextflow.enable.dsl = 2

/*
========================================================================================
    Test configuration for CI/CD
========================================================================================
*/

params {
    config_profile_name        = 'Test full profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data for full size test
    input  = 'https://raw.githubusercontent.com/nf-core/test-datasets/funcscan/samplesheet.csv'

    // Genome references
    max_cpus   = 4
    max_memory = '15.GB'
    max_time   = '12.h'

    // AMP screening - run all tools
    run_amp_screening = true
    amp_skip_macrel   = false
    amp_skip_ampcombi = false
    amp_skip_hmmer    = false
}
